<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.countryflags.com/thumbs/algeria/flag-400.png" alt="">
    </a>
  
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="navbar-collapse collapse justify-content-center"  [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav ul-custom ">
        <li class="nav-item item-custom">
          <a class="nav-link" routerLink="/">Carte الخريطة</a>
        </li>

        <li class="nav-item item-custom">
          <a class="nav-link" routerLink="/conseils">Conseils نصائح</a>
        </li>
        <!-- <li class="nav-item item-custom">
            <a class="nav-link" routerLink="/stats">Statistiques إحصائيات</a>
          </li> --> 
      </ul>
    </div>
  </nav>


  