<app-navbar></app-navbar>
<div class="container">

  <div class="row">
    <div class="col-md-2 num-vert">
      Plus d'informations <br>
      <i class="material-icons"> phone_forwarded</i> <strong> 3030</strong>
    </div>
    <div class="col-md-8">
      <div class="titre-page">
        <h5>
          Tableau de bord interactif pour suivre le COVID-19 en Algérie <br>
          لوحة القيادة لمتابعة كوفيدـ١٩ في الجزائر
        </h5>
      </div>
    </div>
    <div class="col-md-2 num-vert">
      مزيد من المعلومات <br>
      <i class="material-icons"> phone_forwarded</i> <strong> 3030</strong>
    </div>
  </div>


  <hr>

  <div class="row">
    <div class="ml-1">
      <p>Dernière mise à jour {{ dateMaj }}</p>
    </div>
    <div class="ml-auto mr-3">
      <p> {{ dateMaj }} اخر تحديث</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-total-cases></app-total-cases>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-9">
      <!-- <app-map></app-map> -->
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-3">
      <app-cities></app-cities>
    </div>
  </div>

  <app-footer></app-footer>
</div>