.cities-container{
    background-color: #F5F5F5;
    min-height: 80vh;
    max-height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}

.city{
    text-align: center;
    border-top : 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px;
}

.city p {
    margin-bottom: 1px !important;
}

.totalCas-cities{
    text-align: center;
    background-color: #E57373;
    color: white;
    font-weight: bold;
}

.totalMorts-cities{
    text-align: center;
    background-color: #BDBDBD;
    color: white;
    font-weight: bold;
}

.totalGueris-cities{
    text-align: center;
    background-color: #009688;
    color: white;
    font-weight: bold;
}

@media all and (min-width:960px) and (max-width: 1024px) {
    .cities-container{
        background-color: #F5F5F5;    
        overflow-y: hidden;     
        max-height: none;       
    }
  }
  
  @media(min-width:801px) and (max-width: 959px) {
    .cities-container{
        background-color: #F5F5F5;
        overflow-y: hidden;  
        max-height: none;   
    }
  }
  
  @media all and (min-width:769px) and (max-width: 800px) {
    .cities-container{
        background-color: #F5F5F5;
        overflow-y: hidden;  
        max-height: none;   
    }
  }
  
  @media all and (min-width:569px) and (max-width: 768px) {
    .cities-container{
        background-color: #F5F5F5;
        overflow-y: hidden;  
        max-height: none;   
    }
  }
  
  @media all and (min-width:481px) and (max-width: 568px) {
    .cities-container{
        background-color: #F5F5F5;
        overflow-y: hidden;  
        max-height: none;   
    }
  }
  
  @media all and (min-width:321px) and (max-width: 480px) {
    .cities-container{
        background-color: #F5F5F5;
        overflow-y: hidden; 
        max-height: none;   
    }
  }
  
  @media all and (min-width:0px) and (max-width: 320px) {
    .cities-container{
        background-color: #F5F5F5;
        overflow-y: hidden; 
        max-height: none;   
    }
  }